<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weekend Challenge 2</title>
    <script src="vendors/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script src="scripts/scripts.js" charset="utf-8"></script>
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  <body>
    <h1>Calculator by Lindsey</h1>
    <div>
      <input type="text" placeholder="number" id="x"/>
      <input type="text" placeholder="number" id="y"/>
    </div>
    <div class="math">
      <button type="button" class="mathButton" id="add">+</button>
      <button type="button" class="mathButton" id="subtract">-</button>
      <button type="button" class="mathButton" id="multiply">x</button>
      <button type="button" class="mathButton" id="divide">/</button>
    </div>
      <button type="button" id="clearButton">clear</button>
    </div>
    <div id="outputDiv">

    </div>

  </body>
</html>
